.container{
    border: 2px solid black;
    padding: 10px 50px;
    width: 300px;
    border-radius: 25px;
    background-color: rgb(73, 132, 168);
    align-self: center;
    margin: auto;
}
input[type=text],textarea,input[type=number]{
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    box-sizing: border-box;
}
input[type=text]:focus{
    background-color: rgb(169, 236, 236);
}
textarea:focus{
    background-color: rgb(169, 236, 236);
}
input[type=number]:focus{
    background-color: rgb(169, 236, 236);
}
button{
    background-color: blue;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    margin-left: 100px;
}
